/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Rubik','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 300px;
}

.modal{
    min-width: 300px;
}

@font-face {
    font-family: Rubik;
    src: url('assets/fonts/Rubik/Rubik-Light.ttf');
}

